/* body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset;
} */

body{
    margin: unset;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: unset;
}

#idField.is-active{
    background-color: red;
}